<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQs2wglZnoS4dywPlbK2o9RaycBCv8gog</string>
	<key>GCM_SENDER_ID</key>
	<string>595434206167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yazilimmotoru.hizliflutter</string>
	<key>PROJECT_ID</key>
	<string>hizli-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>hizli-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595434206167:ios:bd8e0bd050c8788ade5192</string>
	<key>DATABASE_URL</key>
	<string>https://hizli-flutter.firebaseio.com</string>
</dict>
</plist>